/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;  
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/* Header Styles */
header {
  background-image: url("genome.png");
  background-size: cover;
  color: #fff;
  padding: 10px; /* Reduce the padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease; /* Add a transition for smoother background color change */
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-container {
  margin-right: 20px;
  transition: opacity 0.3s ease; /* Add a transition for smoother opacity change */
}

.header-logo {
  max-width: 100px;
}

.title-container {
  text-align: center;
  transition: transform 0.3s ease; /* Add a transition for smoother transform change */
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.logo-slogan {
  font-size: 18px;
  letter-spacing: 1px;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s ease; /* Add a transition for smoother transform change */
}

nav ul li a {
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transitions for background color and text color change */
  color: #333;
}

nav ul li a:hover {
  background-color: #eee;
  color: #ff9900;
}

nav ul li a:active {
  background-color: #ddd;
}

nav ul li a.active {
  text-decoration: underline;
  font-weight: bold;
}

/* Main Content Styles */
main {
  padding: 20px;
}

.home-container {
  text-align: center;
}

.about-container,
.offer-container {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 20px;
}

.about-container h2,
.offer-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.forum-container {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
}

.forum-container h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.forum-container p {
  margin-bottom: 20px;
}

.forum-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transitions for background color and transform change */
}

.forum-button:hover {
  background-color: #555;
  transform: scale(1.05); /* Add a scale transform on hover for a subtle animation */
}

/* Floating action button styles */
.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff9900;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transitions for background color and transform change */
}

.fab:hover {
  background-color: #ffba4d;
  transform: scale(1.05); /* Add a scale transform on hover for a subtle animation */
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social a {
  margin-right: 10px;
}

.footer-container p {
  margin: 0;
}

#news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 20px;
  background-color: #f9f9f9;
  padding: 20px;
}

.news-item {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow: hidden; /* Add this property to hide any overflowing content */
  padding-left: 10px;
}

.news-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  object-fit: contain; /* Adjust object-fit property to contain or cover based on preference */
  transform: translateX(10px);
  transition: transform 0.3s ease; /* Add a transition for smoother transform change */
}

.news-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.news-pubdate {
  font-size: 14px;
  color: #888;
}

.contact-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.contact-info {
  text-align: left;
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 10px;
  align-items: center;
}

.social-buttons img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.projects-container {
  text-align: center;
  padding: 20px;
}

.section-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.section-content {
  margin: 0 auto;
  max-width: 700px;
}

.footer-social a img {
  width: 40px; /* Adjust this value to set the desired width */
  height: 40px; /* Adjust this value to set the desired height */
}

nav ul li a {
  font-size: 14px; /* Adjust the font size to your preference */
}

/* Tool Section */
.tools-container {
  padding: 20px;
}

.section-heading {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.section-content {
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul li {
  margin-bottom: 8px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section:not(#home) {
  display: none;
}
.blog-post {
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
  margin-bottom: 20px;
}

.blog-image {
  width: 200px; /* Adjust the size as needed */
  margin-right: 20px;
  transition: width 0.3s ease;
}

.blog-image.expanded {
  width: 100%; /* Expand the width to fill the available space */
}

.blog-description {
  margin-top: auto; /* Move the text to the bottom */
}

.blog-details {
  margin-top: 10px;
}

.read-more-btn {
  background-color: #f0f0f0;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.read-more-btn:hover {
  background-color: #ddd;
}

/* Hide the blog details initially */
.hidden {
  display: none;
}
.read-more-btn {
  background-color: #f0f0f0;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background-color: blue; /* Set the background color to blue */
  transition: background-color 0.3s ease;
}

.read-more-btn:hover {
  background-color: #333; /* Change the hover background color */
}

/* Responsive styles */

/* Adjust font sizes for smaller screens */
@media (max-width: 767px) {
  .news-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .news-image {
    flex: 0 0 120px;
    margin-right: 20px;
  }

  .news-image img {
    width: 100%;
    height: auto;
  }

  .news-content {
    flex: 1;
  }

  .news-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .news-description {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .news-pubdate {
    font-size: 12px;
    color: gray;
  }

  .news-source {
    font-size: 12px;
    color: gray;
  }
}

/* Increase engagement */

/* Add hover effects to navigation links */
nav ul li a:hover {
  color: #ff9900;
}

/* Add animation to the forum button */
.forum-button {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
   50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Add fade-in animation for header elements */
header {
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Update color scheme */

body {
  color: #333;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
}

.header-container {
  transition: opacity 0.3s ease; /* Add a transition for smoother opacity change */
}

nav ul li a {
  color: #fff;
}

nav ul li a:hover {
  background-color: #ff9900;
  color: #fff;
}

.forum-button {
  background-color: #ff9900;
  color: #fff;
}

.forum-button:hover {
  background-color: #ffba4d;
}

.fab {
  background-color: #ff9900;
  color: #fff;
}

.fab:hover {
  background-color: #ffba4d;
}

footer {
  background-color: #333;
  color: #fff;
}

.footer-social a {
  color: #fff;
}

.contact-info p {
  color: #333;
}

.section-heading {
  color: #333;
}

a {
  color: #337ab7;
}

a:hover {
  color: #ff9900;
}
